<header>Live Text Adventures</header>

<p>
    <strong>Technologies:</strong>
    <span class="badge badge-primary">PHP</span>
    <span class="badge badge-primary">MySQL</span>
    <span class="badge badge-warning">JS</span>
    <span class="badge badge-warning">CSS</span>
</p>

<p>
    I have organised Live Text Adventure events based on a concept from
    <a href="https://en.wikipedia.org/wiki/GameCity#GameCity_Festivals">GameCity</a> in 2014.
    It involves a number of writers simulating a game in the style of classic text adventure games
    against a series of players. Each writer runs the game for a player simultaneously, with all the games being
    displayed on a big screen that it visible to everyone who is not currently playing. This means as new players
    start to play the game in future rounds they have the combined knowledge of all previous players and can
    therefore progress further.
</p>

<p class="text-center">
    <img src="assets/img/lta.jpg" width="300" height="150" />
</p>

<p>
    <strong>GitHub Project:</strong>
    <a href="https://github.com/braiba/livetextadventures">
        https://github.com/braiba/livetextadventurest
    </a>
</p>
