<section>
    <header>Arduino-Powered Costume Gun</header>
    <p>
        <strong>Technologies:</strong> C++
    </p>
    <p>
        For part of a costume for the <a href="https://nineworlds.co.uk/">Nine Worlds convention</a> this year, I
        commissioned a 3D-printed model of Fiona's pistol from Tales from the Borderlands. It includes 12 LEDs, a
        trigger button, and reed switches to detect the barrel orientation, which are all linked to an Arduino micro,
        which I am programming to have a wide range of behaviours.
    </p>
    <p>
        <strong>GitHub Project:</strong>
        <a href="https://github.com/braiba/tftb-fiona-pistol-arduino">
            https://github.com/braiba/tftb-fiona-pistol-arduino
        </a>
    </p>
</section>

<section>
    <header>Codenames Twitter Bot</header>
    <p>
        <strong>Technologies:</strong> PHP, MySQL, Twitter API
    </p>
    <p>
        I created a Twitter bot that runs a variation of the popular board game,
        <a href="http://czechgames.com/en/codenames/">Codenames</a>.
    </p>
    <p>
        <strong>Twitter Account:</strong>
        <a href="https://twitter.com/spymaster_bot">
            https://twitter.com/spymaster_bot
        </a>
        (Currently down for maintenance)
    </p>
    <p>
        <strong>GitHub Project:</strong>
        <a href="https://github.com/braiba/spymaster-bot">
            https://github.com/braiba/spymaster-bot
        </a>
    </p>
</section>

<section>
    <header>Geek stitch website</header>
    <p>
        <strong>Technologies:</strong> PHP, MySQL, Angular, PayPal API, CSS
    </p>
    <p>
        I created the website for my friend's business selling cross-stitch packs.
    </p>
    <p>
        <strong>Website:</strong>
        <a href="http://www.geekstitch.co.uk">
            http://www.geekstitch.co.uk
        </a>
        (Old version - new version is currently being tested before going live)
    </p>
    <p>
        <strong>GitHub Project:</strong>
        <a href="https://github.com/braiba/livetextadventures">
            https://github.com/braiba/livetextadventurest
        </a>
    </p>
</section>

<section>
    <header>Live Text Adventures</header>
    <p>
        <strong>Technologies:</strong> PHP, MySQL, JS, CSS
    </p>
    <p>
        I have organised Live Text Adventure events based on a concept from
        <a href="https://en.wikipedia.org/wiki/GameCity#GameCity_Festivals">
            https://en.wikipedia.org/wiki/GameCity#GameCity_Festivals
        </a>
        in 2014. It involves a number of writers simulating a game in the style of classic text adventure games
        against a series of players. Each writer runs the game for a player simultaneously, with all the games being
        displayed on a big screen that it visible to everyone who is not currently playing. This means as new players
        start to play the game in future rounds they have the combined knowledge of all previous players and can
        therefore progress further.
    </p>
    <p>
        <strong>GitHub Project:</strong>
        <a href="https://github.com/braiba/livetextadventures">
            https://github.com/braiba/livetextadventurest
        </a>
    </p>
</section>

<section>
    <header>Pebble Watch Face</header>
    <p>
        <strong>Technologies:</strong> C
    </p>
    <p>
        I have made a custom watch face for my Pebble smart-watch, based on a running joke on
        <a href="https://twitter.com/Jam_sponge">Matt Lee's Twitter account</a>.
    </p>
    <p>
        <strong>GitHub Project:</strong>
        <a href="https://github.com/braiba/MattWatch">
            https://github.com/braiba/MattWatch
        </a>
    </p>
</section>

<section>
    <header>This Website</header>
    <p>
        <strong>Technologies:</strong> PHP, Angular, CSS
    </p>
    <p>
        <strong>GitHub Project:</strong>
        <a href="https://github.com/braiba/portfolio">
            https://github.com/braiba/portfolio
        </a>
    </p>
</section>
