<bgh-view-menu-block
    tab-model="vm.state.selectedItem"
    search-key="section"
    view-path="views/projects"
>
    <bgh-view-menu-item handle="fiona">
        Arduino-Based Prop Gun
    </bgh-view-menu-item>

    <bgh-view-menu-item handle="codenames">
        Codenames Twitter Bot
    </bgh-view-menu-item>

    <bgh-view-menu-item handle="geekstitch">
        Geek stitch website
    </bgh-view-menu-item>

    <bgh-view-menu-item handle="lta">
        Live Text Adventures
    </bgh-view-menu-item>

    <bgh-view-menu-item handle="pebble">
        Pebble Watch Face
    </bgh-view-menu-item>

    <bgh-view-menu-item handle="portfolio">
        This Website
    </bgh-view-menu-item>
</bgh-view-menu-block>
