body {
    background: #DDD;
    font: 12px arial, sans-serif;
    color: #5D5D5D;
}

header {
    font-size: 14pt;
    border-bottom: solid 1px #BBB;
    padding-left: 6px;
    color: #888;
    margin-bottom: 18px;
    margin-top: 24px;
}

a {
    text-decoration: none;
    color: #BBB;
}

a:hover {
    color: #444;
}

h3 {
    font-size: 18px;
    margin-left: 10px;
    font-style: italic;
}

section li {
    margin-top: 8px;
}

#wrapper {
    margin: 16px auto;
    width: 960px;
    position: relative;
}

#main {
    background: #FFF;
    border: solid 1px #BBB;
    padding: 14px;
}

#header {
    font-family: 'Acme', sans-serif;
    text-align: left;
    padding: 0 16px;
}

#header h1,
#header h2 {
    display: inline-block;
    margin: 0;
    padding-right: 8px;
    text-align: left;
}

#header h1 {
    font-size: 3em;
    color: #000;
}

#menu {
    border: solid 1px #BBB;
    border-width: 1px 0;
    list-style: none;
    font-size: 12pt;
    margin: 8px 0 16px 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    padding: 7px 0 6px 12px;
}

#menu i {
    margin-right: 4px;
}

#footer {
    text-align: center;
    padding: 16px 0;
}

/*
 * bghViewMenu
 */
.bgh-view-menu-block .menu ul {
    border: solid 1px #DDD;
    background: #F8F8F8;
    list-style: none;
    padding: 0;
}

.bgh-view-menu-block .menu ul li {
    border: solid 1px #DDD;
    border-width: 1px 0;
    background: #FFF;
    margin: 3px 0;
}

.bgh-view-menu-block .menu ul a {
    display: block;
    padding: 8px 12px;
}

/*
 * bghFadeDuringResolve
 */
.fade {
    opacity: 1;
    transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

.fade.faded {
    opacity: 0.25;
}

/*
 * Key-values
 */
.keyvalues {
    list-style: none;
    padding-left: 0;
}

.keyvalues li {
    margin-bottom: 4px;
    font-size: 10pt;
}

.keyvalues .key,
.keyvalues .value {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.keyvalues .key {
    font-weight: bold;
    text-align: right;
}
