<header>Pebble Watch Face</header>

<p>
    <strong>Technologies:</strong>
    <span class="badge badge-success">C</span>
</p>

<p>
    I have made a custom watch face for my Pebble smart-watch, based on a running joke on
    <a href="https://twitter.com/Jam_sponge">Matt Lee's Twitter account</a>.
</p>

<p class="text-center">
    <img src="assets/img/pebble_watch.png" width="280" height="320" />
</p>

<p>
    <strong>GitHub Project:</strong>
    <a href="https://github.com/braiba/MattWatch">
        https://github.com/braiba/MattWatch
    </a>
</p>
