<div class="alert alert-info" style="margin-top: 20px">
    <i class="fa fa-download"></i>
    My CV is also available for download as a Microsoft Word document
    <a href="assets/downloads/Thomas Bickley CV - 2018.doc" class="has-icon">
        <i class="far fa-file-word"></i>
        <span>here</span><!--
    --></a>.
</div>

<h1 class="text-center">Thomas Bickley</h1>

<br />

<ul class="keyvalues">
    <li>
        <span class="key">Date of Birth:</span>

        <span class="value">16/12/1986</span>
    </li>

    <li>
        <span class="key">Contact Email:</span>

        <span class="value">
            <a href="mailto:thomas@thomasbickley.co.uk">thomas@thomasbickley.co.uk</a>
        </span>
    </li>

    <li>
        <span class="key">Location:</span>

        <span class="value">
            Malin Bridge<br />
            Sheffield
        </span>
    </li>

    <li>
        <span class="key">Current Employment:</span>

        <span class="value">Developer at Mediabowl Ltd</span>
    </li>
</ul>

<section>
    <header>Introduction</header>

    <p>
        As a developer with eight years of experience I am constantly looking for new challenges and experiences make
        sure I am always working to develop my skills further.
    </p>

    <p>
        In additional to having excellent working knowledge of PHP and other languages, I am also quick to learn and
        adapt to new systems and technologies, giving me the skills I need to face any challenge.
    </p>

    <p>
        I take pride in not only learning best practices, but also understanding the reasoning behind them, in order to
        ensure they are used to their fullest potential in making my code maintainable, reusable and extendable. I also
        strive to provide the best user experience with every aspect of the work I do, from the clarity of front-end
        interfaces to the responsiveness of back-end API calls.
    </p>

    <p>
        I am currently seeking a role where I can continue to be challenged, while further developing my skills by
        working alongside similarly driven developers.
    </p>
</section>

<section>
    <header>Education</header>

    <ul>
        <li>Master's degree in Computer Science (2:1) - University of Sheffield.</li>

        <li>A-levels: Computing (A), Mathematics (A), Further Mathematics (A) and Physics (B).</li>
    </ul>
</section>

<section>
    <header>Employment</header>

    <h3>Freelance Web Developer	(May 2009 - Feb 2010)</h3>

    <ul>
        <li>
            Worked with a range of clients to produce websites tailored to their unique design and functional needs.
        </li>

        <li>
            I have since continued to work on occasional projects that catch my interest in my spare time - mostly
            providing small-scale systems for friends' pet projects and academic work.
        </li>
    </ul>

    <h3>Technical Developer at High Tech Click	(Feb 2010 - Mar 2014)</h3>

    <ul>
        <li>
            This involved the development of various systems, built on a variety of frameworks, including Zend and
            Doctrine. I also worked with various front-end technologies, such as the Twig template engine, the Bootstrap
            front-end framework, and jQuery UI.
        </li>

        <li>
            I was responsible for developing a lot of the utility code used by other developers, which had to be both
            powerful and flexible while also being easy for others to understand and use.
        </li>

        <li>
            Created and maintained various pet projects for the purposes of streamlining and standardising development,
            such as tools for generating Zend modules and working with SQL queries.
        </li>
    </ul>

    <h3>Software Developer at Ffrees Family Finance	(Mar 2014 - Mar 2016)</h3>

    <ul>
        <li>
            My work was primarily focused on development of the backend of the commercial website, the internal CRM
            system, background services, and an API which provided services to the other systems as well as mobile apps.
            These systems were built on the Phalcon MVC framework and made use of REST and SOAP to integrate with a
            variety of third-party services.
        </li>

        <li>
            I worked closely with our front-end developers to ensure smooth integration between front-end and back-end
            functionality.
        </li>

        <li>
            I was involved in software releases at every stage of the process, from requirements capture and planning
            through to testing and the deployment of the code to live platforms.
        </li>

        <li>
            I spent a lot of time and effort making sure that every part of the code-base was to a high standard and
            consistent in both style and structure so that would be easy for any developer to pick up any piece of code
            quickly and easily.
        </li>

        <li>
            I wrote unit tests with a high level of code coverage (>80%) for the vast majority of the code I developed
            to ensure that the systems will remain robust during future development. I also developed various utility
            classes to aid in this process.
        </li>
    </ul>

    <h3>Developer at Mediabowl Ltd	(Mar 2016 - Present)</h3>

    <ul>
        <li>
            My work is focused on systems that needed to process huge quantities of data quickly and efficiently, and
            the interfaces involved in managing those systems. The back-end systems are built with a mix of PHP and Go,
            while the front-end interfaces are built on Angular.
        </li>

        <li>
            I rewrote two major systems (validation and export) from PHP and Java into Go, and integrated them with the
            other systems.
        </li>

        <li>
            I have also taken responsibility for monitoring our error reporting systems to make sure that potential
            issues were identified quickly, as well as being proactive in identifying and optimising inefficient areas
            of the code.
        </li>
    </ul>
</section>

<section>
    <header>Additional Skills and Achievements</header>

    <ul>
        <li>
            Professional experience working with PHP, MySQL, Angular, Zend, Doctrine, Postgres, Go, Phalcon, AMQP,
            Redis, Java, AWS, jQuery/jQuery UI, Sentry, PHP Unit, Composer, Grunt, CSS, SCSS, Volt, Twig, Javascript,
            HTML5, Git, SVN, Vagrant, Docker, Mac, Linux and Windows.
        </li>

        <li>
            Additional knowledge of Flash/Actionscript, Perl, Python, Pascal, Delphi, Haskell, Prolog, MATLAB, Unity,
            Arduino, OpenGl and Cg.
        </li>

        <li>
            I competed in the <a href="http://www.olympiad.org.uk/">British Informatics Olympiad</a> in 2005 and was
            selected for the team of 4 who went on to represent Britain in the
            <a href="http://www.ioinformatics.org/index.shtml">International Olympiad of Informatics</a> of that year.
            I also reached the first round of the <a href="https://bmos.ukmt.org.uk/">British Mathematics Olympiad</a>
            in 2003 and 2004 (approx. top 1,000 in the country) and the second round (approx. top 100 in the country) in
            2005.
        </li>

        <li>
            Strong analytical and problem-solving skills from puzzle games such as Portal, The Talos Principle,
            The Witness, Spacechem, Infinifactory, TIS-100, Shenzen IO, and many more.
        </li>

        <li>
            Strong teamwork and strategic planning skills from playing a wide variety of board games, such as Dominion,
            Hanabi, Power Grid and Ticket to Ride. I have also assisted with the running of board game lounges at
            conventions and a monthly board gaming night in Nottingham, which has helped me to develop strong
            communication skills, both for understanding people's interests in order to make game suggestions, and for
            then teaching them how to play the games in a clear and concise manner.
        </li>
    </ul>
</section>
