<header>Codenames Twitter Bot</header>
<p>
    <strong>Technologies:</strong>
    <span class="label label-primary">PHP</span>
    <span class="label label-primary">MySQL</span>
    <span class="label label-info">Twitter API</span>
</p>
<p>
    I created a Twitter bot that runs a variation of the popular board game,
    <a href="http://czechgames.com/en/codenames/">Codenames</a>.
</p>
<p class="text-center">
    <img src="img/codenames_bot_75.png" width="360" height="458" />
</p>
<p>
    <strong>Twitter Account:</strong>
    <a href="https://twitter.com/spymaster_bot">
        https://twitter.com/spymaster_bot
    </a>
    (Currently down for maintenance)
</p>
<p>
    <strong>GitHub Project:</strong>
    <a href="https://github.com/braiba/spymaster-bot">
        https://github.com/braiba/spymaster-bot
    </a>
</p>