<header>Arduino-Based Prop Gun</header>
<p>
    <strong>Technologies:</strong>
    <span class="label label-success">C++</span>
</p>
<p>
    For part of a costume for the <a href="https://nineworlds.co.uk/">Nine Worlds convention</a> this year, I
    commissioned a 3D-printed model of Fiona's pistol from Tales from the Borderlands. It includes 12 LEDs, a
    trigger button, and reed switches to detect the barrel orientation, which are all linked to an Arduino micro,
    which I am programming to have a wide range of behaviours.
</p>
<p class="text-center">
    <img src="img/fiona_pistol.gif" width="160" height="160" />
    <img src="img/fiona_pistol_rainbow_mode.gif" width="160" height="160" />
    <img src="img/fiona_pistol_cylon_mode.gif" width="160" height="160" />
</p>
<p>
    <strong>GitHub Project:</strong>
    <a href="https://github.com/braiba/tftb-fiona-pistol-arduino">
        https://github.com/braiba/tftb-fiona-pistol-arduino
    </a>
</p>