<header>Geek stitch website</header>
<p>
    <strong>Technologies:</strong>
    <span class="label label-primary">PHP</span>
    <span class="label label-primary">MySQL</span>
    <span class="label label-warning">Angular</span>
    <span class="label label-info">PayPal API</span>
    <span class="label label-warning">CSS</span>
</p>
<p>
    I created the website for my friend's business selling cross-stitch packs.
</p>
<p class="text-center">
    <img src="img/geek_stitch.png" width="480" height="335" />
</p>
<p>
    <strong>Website:</strong>
    <a href="http://www.geekstitch.co.uk">
        http://www.geekstitch.co.uk
    </a>
    (Old version - new version is currently being tested before going live)
</p>
<p>
    <strong>GitHub Project:</strong>
    <a href="https://github.com/braiba/livetextadventures">
        https://github.com/braiba/livetextadventurest
    </a>
</p>
