<header>This Website</header>

<p>
    <strong>Technologies:</strong>
    <span class="badge badge-primary">PHP</span>
    <span class="badge badge-warning">Angular</span>
    <span class="badge badge-warning">Bootstrap</span>
    <span class="badge badge-warning">CSS</span>
</p>

<p>
    I built the website you are currently viewing using the Angular framework.
</p>

<p>
    <strong>GitHub Project:</strong>
    <a href="https://github.com/braiba/portfolio">
        https://github.com/braiba/portfolio
    </a>
</p>
