@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

@each $technology-type, $value in $technology-types {
    .badge-#{$technology-type} {
        @include badge-variant($value);
    }
}

body {
    font: 12pt arial, sans-serif;
    color: $gray-800;
}

header {
    font-size: 14pt;
    border-bottom: solid 1px $dark;
    padding-left: 6px;
    color: $dark;
    margin-bottom: 18px;
    margin-top: 24px;
}

section {
    padding: 0 1rem;
}

a.has-icon {
    &:hover,
    &:focus {
        text-decoration: none;

        span {
            text-decoration: underline;
        }
    }
}

h3 {
    font-size: 18px;
    margin-left: 10px;
    font-style: italic;
}

section li {
    margin-top: 8px;
}

/*
 * Layout
 */
#wrapper {
    margin: 16px auto;
    width: 960px;
    position: relative;
}

#banner {
    position: relative;
    z-index: 1;
    height: 80px;
    background: url('../../src/js/assets/img/header.png') no-repeat;
}

#main {
    background: $white;
    border: solid 1px lighten(#8EB1C7, 15%);
    border-top: 0;
    padding: 14px;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 20px 0;
}

#header {
    font-family: 'Acme', sans-serif;
    text-align: left;
    padding: 0 16px;

    h1,
    h2 {
        display: inline-block;
        margin: 0;
        padding-right: 8px;
        text-align: left;
    }

    h1 {
        font-size: 3em;
        color: $dark;
    }

    h2 {
        color: $secondary;
    }
}

#menu {
    border-style: solid;
    border-color: $dark;
    border-width: 1px 0;
    list-style: none;
    font-size: 12pt;
    margin: 8px 0 16px 0;
    padding: 0;

    li {
        display: inline-block;
        padding: 7px 0 6px 12px;
    }

    a {
        color: $secondary;

        &:hover {
            color: darken($secondary, 15%);
        }
    }
}

/*
 * Bootstrap overrides
 */
.alert {
    font-size: 10pt;
    font-weight: bold;
    padding: 10px 12px;
}

/*
 * Key-values
 */
.keyvalues {
    list-style: none;
    padding-left: 0;

    li {
        margin-bottom: 6px;
    }

    .key,
    .value {
        display: inline-block;
        width: 49%;
        vertical-align: top;
    }

    .key {
        font-weight: bold;
        text-align: right;
    }
}
